*{
    margin: 0%;
    padding: 0%;
}
.container {
    height: 400px;
    width: 280px;
    padding: 40px;
    background-color: #000;
    color: blanchedalmond;

    display: flex;
     justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-sizing: border-box;

    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.container h1 {
    font-size: 18px;
    text-align: center;
}

.container img {
    width: 100%;
    height: 280px;
    object-fit: cover;    
    border-radius: 8px;
}


.container p {
    font-size: 14px;
    text-align: center;
    opacity: 0.85;
}
